NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_RATECREATOR_API_URL=

DATABASE_URL_ONLINE=

NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=

REDIS_USERNAME = 
REDIS_PASSWORD = 
REDIS_HOST = 
REDIS_PORT = 

# kafka details
KAFKA_USERNAME = 
KAFKA_PASSWORD = 
KAFKA_SERVICE_URI = 
KAFKA_HOST = 
KAFKA_PORT = 

KAFKA_CA_CERT=


# DO Spaces Configuration
NEXT_PUBLIC_DO_SPACES_KEY=
NEXT_PUBLIC_DO_SPACES_SECRET=
NEXT_PUBLIC_DO_SPACES_REGION=
NEXT_PUBLIC_DO_SPACES_BUCKET=
NEXT_PUBLIC_DO_SPACES_ENDPOINT=
NEXT_PUBLIC_DO_SPACES_NAME=