
DATABASE_URL_ONLINE=

# Algolia details
ALGOLIA_APP_ID=
ALGOLIA_WRITE_API_KEY=
ALGOLIA_SEARCH_API_KEY=

# redis details
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# kafka details
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_SERVICE_URI=
KAFKA_HOST=
KAFKA_PORT=

KAFKA_CA_CERT=



NEXT_PUBLIC_RATECREATOR_API_URL=http://localhost:3000


NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=




DO_API_KEY=

#DO Spaces
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_REGION=
DO_SPACES_BUCKET=
DO_SPACES_ENDPOINT=

RESEND_API_KEY=

