@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: oklch(90.5% 0.182 98.111);
  color: #000;
  -webkit-text-fill-color: #000;
}

.dark ::selection {
  background: oklch(86.5% 0.127 207.078);
  color: #000;
  -webkit-text-fill-color: #000;
}
